.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 70px;
}
.popular h1{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-bottom: 70px;
}

.popular-item {
     margin-top: 50px;
     display: flex;
     gap: 30px;
}

.popular-item img {
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: auto !important;
    width: 400px;
}
   
.swiper-slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .popular {
        padding: 100px 0 50px;
    }

    .popular h1{
        font-size: 20px;
    }

    .popular hr {
        width: 40%;
        height: 6px;
    }
    .swiper-slide img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .swiper-slide {
        height: auto!important;
    }
}